/* smoky black: #0a090c
isabelline: #f0edee
rich black: #07393c
myrtle green: #2c666e
baby blue: #90ddf0 */

.content {
    width: 90%;
    margin: auto;
}

.flex-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    border: black;
}

.button {
    font-family: 'poppinsregular', sans-serif;
    font-size: 1.1em;
    border: 3px solid #0a090c;
    border-radius: 7px;
    padding: .5em;
    margin: 1.2em 2em;
    transition: color .5s ease;
    transition: background-color .5s ease;
    color: #2c666e;
    cursor: pointer;
}

.button:hover {
    background-color: #07393c;
    color: #f0edee;
}

h3 {
    color: #f0edee;
    text-align: center;
    font-size: 1.4em;
    font-family: 'poppinsblack';
    margin-bottom: .5em;
}

.flex-photos {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-photos img {
    height: 200px;
    border: 3px solid #343434;
}

.caption {
    font-family: 'poppinslight';
    font-size: .65em;
    max-width: 100%;
}

.captioned-photo {
    margin: 1em;
    max-width: 200px;
}