/* smoky black: #0a090c
isabelline: #f0edee
rich black: #07393c
myrtle green: #2c666e
baby blue: #90ddf0 */

html {
    background-color: #90ddf0;
    font-size: 16px;
}

header {
    min-height: 100px;
    margin: 3em 1em 1em;
}

h1 {
    color: #f0edee;
    font-size: 2.5em;
    font-family: 'poppinssemibold', sans-serif;
    text-align: center;
    margin-bottom: .4em;
}

.link-bar {
    color: #2c666e;
    text-align: center;
    font-family: 'poppinsregular';
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

.link-bar :hover {
    cursor: pointer;
}

.link-bar p {
    margin: 0 1em;
}

#map {
    height: 500px;
    width: vw;
}