/* smoky black: #0a090c
isabelline: #f0edee
rich black: #07393c
myrtle green: #2c666e
baby blue: #90ddf0 */

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    align-content: center;
    margin: 0 6em;
}

#home div {
    width: 150px;
    height: 150px;
    margin: 1em;
    background-color: #2c666e;
    flex: 2;
}